@model CreateActivityResultModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-8">
        <h2>Results</h2>
        <p>Successes: @Model.Successes</p>
        <p>Failures: @Model.Failures</p>
    </div>
</div>
