@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-8">
        <h2>Authenticated to Strava: @Model.IsAuthenticated</h2>
        <p>Access Token: @Model.AccessToken</p>
        <a class="btn btn-primary" href="~/Home/Authenticate">Authenticate with Strava</a>
        <a class="btn btn-default" href="~/Home/LogOut">Log Out from Strava</a>
        @if (@Model.IsAuthenticated)
        {
            <form action="~/Home/CreateActivity" method="post">
                <input type="date" name="date" id="date"/>
                <input type="submit" class="btn btn-default" value="Create Activity"/>
            </form>
        }
    </div>
</div>
